body{
  text-align: center;
}
.container{
  border: solid 4px black;
  width: 300px;
  padding: 10px;
  margin: auto;
  display: block;
  background-color: #FA9993;
  margin-bottom: 25px;
}

.inputBlock{
  border: solid 2px black;
}

.answer{
  font-size: 2em;
}

#answer{
  font-weight: bolder;
}

a{
  font-size: 1.5em;
  color: white;
  border: solid black 2px;
  padding: 10px;
  background-color: #68B25B;
  text-decoration: none;
}

a:hover{
  background-color: #83C178;
}
